@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
  font-family: "Poppins", sans-serif;
}

.section-container {
  @layer max-w-screen-2xl container mx-auto py-4 px-3 
};

/* for Testimonial Page's swiper button styling */
/* If using plain CSS */
.swiper-button-next,
.swiper-button-prev {
  color: #facc15; /* Tailwind's yellow-400 */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  overflow: hidden;
}

/* .swiper-button-prev:after,
.swiper-button-next:after {
  @apply px-4 py-2 ring-1 ring-primary hover:text-white hover:bg-primary rounded-full bg-white text-black text-lg !important; */



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@apply max-w-screen-2xl container mx-auto py-4 px-3 ;
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
